<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/AdminCss/bootstrap.min.css" rel="stylesheet" />
    <link href="~/AdminCss/metisMenu.min.css" rel="stylesheet" />
    <link href="~/AdminCss/sb-admin-2.css" rel="stylesheet" />

    <link href="~/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/AdminCss/morris.css" rel="stylesheet" />


    <script src="~/AdminJS/snowstorm.js"></script>

   
  
</head>
<body>
   
    <div id="wrapper">
       
       
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","QuanLySanPham")">Quản trị hệ thống</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                @*<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>*@
                    
                    <!-- /.dropdown-alerts -->
                @*</li>*@
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> Quản trị viên <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i>
                            @if (Session["logedUsers"] != null)
{
     <text>Xin chào: </text>  @Session["logedUsers"].ToString()

   
}
                            
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("DoiMatKhauAdmin","AdminLogin")"><i class="fa fa-lock" aria-hidden="true"></i> Đổi mật khẩu</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("AdminDangNhap","AdminLogin")"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-birthday-cake" aria-hidden="true"></i> Bánh<span class="fa arrow"></span></a>
                        
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("QLDSBanh", "QuanLySanPham")">Danh sách bánh</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("LoaiBanh", "QuanLySanPham")">Loại bánh</a>
                                </li>



                            </ul>

                        </li>
                       
                        @*<li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Loại bánh</a>
                        </li>*@
                       
                        <li>
                            <a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Tài khoản<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("QLDSTaiKhoanAdmin", "QuanLyTaiKhoan")">Quản trị viên</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("QLDSTaiKhoanKH", "QuanLyTaiKhoan")">Khách hàng</a>
                                </li>
                               
                                   
                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        @*<li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>*@
                        <li>
                            <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Bài viết<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("QLDSCacBaiViet", "QuanLyBaiViet")">Danh sách bài viết</a>
                                </li>
                                 <li>
                                    <a href="@Url.Action("QLDSBaiViet", "QuanLyBaiViet")">Loại bài viết</a>
                                </li>
                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="@Url.Action("QLDSHoaDon", "QuanLyHoaDon")"><i class="fa fa-bar-chart-o fa-fw"></i> Hóa đơn@*<span class="fa arrow"></span>*@</a>
                            @*<ul class="nav nav-second-level">
                <li>
                    <a href="">Danh sách hóa đơn</a>
                </li>
                <li>
                    <a href="morris.html">Hóa đơn chi tiết </a>
                </li>
            </ul>*@
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="@Url.Action("QLDSKhuyenMai", "QuanLyKhuyenMai")"><i class="fa fa-gift" aria-hidden="true"></i> Khuyến mãi</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        @RenderBody()
       
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../vendor/raphael/raphael.min.js"></script>
    <script src="../vendor/morrisjs/morris.min.js"></script>
    <script src="../data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>





  
    <!--hieu ung tuyet roi-->
    
    <script type="text/javascript">
        snowStorm.snowColor = '#00ff00';
        try {

            reinvigorate.track("#000");
        } catch (err) { }
    </script>
    <!---->
    @*<script>
        $('#dataTables-example').dataTable({
            "language": {
                "search": "Tìm kiếm ",
                "info": "",
                "lengthMenu": "Hiển thị _MENU_ bản ghi",
                "paginate": {
                    "next": "Sau",
                    "previous": "Trước"
                }

            }
        });
        $('#my-data-2').dataTable();
    </script>*@
   

</body>
</html>
