@model WebBanSachMVC.Models.DanhsachBanh

@{
    ViewBag.Title = "ChinhSua";
    Layout = "~/Views/Layout/AdminQuanLy.cshtml";
}
<link href="~/AdminCss/bootstrap.min.css" rel="stylesheet" />
<link href="~/AdminCss/metisMenu.min.css" rel="stylesheet" />
<link href="~/AdminCss/sb-admin-2.css" rel="stylesheet" />

<link href="~/AdminCss/font-awesome.min.css" rel="stylesheet" />
<script src="~/tinymce/js/tinymce/jquery.tinymce.min.js"></script>
<script src="~/tinymce/js/tinymce/tinymce.min.js"></script>




<script>tinymce.init({ selector: 'textarea' });</script>
<div id="page-wrapper">
    <h2>Sửa thông tin bánh</h2>
    @using (Html.BeginForm("ChinhSua", "QuanLySanPham", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">

                <div class="col-md-10">

                    @Html.Hidden("MaSP", Model.MaSP)
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">Tên bánh</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.TenSP, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TenSP)
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">Đơn giá</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.DonGia, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DonGia)
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">Đơn vị tính</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.DonViTinh, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DonViTinh)
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">Mã loại </label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.MaLoai, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaLoai)
                </div>
            </div>
        
            
           
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">Hình ảnh</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.HinhAnh, null, new { @class = "form-control" })
                    @*ten cua the input phai trung ten voi tham so ben controller*@
                 
                    <input type="file" name="fileUp" class="form-control"/> 
                   
                    @*thong bao trung anh? da co roi*@
                    @*@ViewBag.ThongBao*@
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">Mô tả bánh </label>
                <div class="col-md-10">
                    <textarea name="MoTa">@Model.MoTa</textarea>
                    @Html.ValidationMessageFor(model => model.MoTa)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu" class="btn btn-default" /> |
                    @Html.ActionLink("Trở về", "QLDSBanh")
                </div>
            </div>
        </div>
         
    }
    
    <script src="~/AdminJS/jquery.min.js"></script>
    <script src="~/AdminJS/bootstrap.min.js"></script>
    <script src="~/AdminJS/metisMenu.min.js"></script>
    <script src="~/AdminJS/sb-admin-2.js"></script>
</div>