@model IEnumerable<WebBanSachMVC.Models.KHACHHANG>

@{
    ViewBag.Title = "QuanLyKhachHang";
    Layout = "~/Views/Layout/QuanLySanPham.cshtml";
}

<h2>Danh sách tài khoản khách hàng</h2>

<p>
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChiKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenDN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatKhau)
        </th>
        <th></th>
    </tr>
   
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTenKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChiKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenDN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatKhau)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "ChinhSuaKH", new { @MaKH = item.MaKH }) |

                    @Html.ActionLink("Xóa", "XoaKH", new { @MaKH = item.MaKH })
                </td>
            </tr>
        }
  
</table>
